<!-- <div>
  <div class="card" style="width: 18rem">
    <img
      src="https://picsum.photos/seed/picsum/200/200"
      class="card-img-top"
      alt="temp_image"
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div> -->

<app-navbar></app-navbar>
<div class="card-grid-container">
  <app-card-grid></app-card-grid>
</div>
<app-footer></app-footer>
